html
  head
    title= title
  body
    h1= message
    p To use, connect to spotify api using server auth or user login, then enter your favorite artists
    ul
    li
      a(href='/') Home
    li
      a(href='/spotifyapi/server') Server Auth
    li
      a(href='/spotifyapi/login') User Login
    li
      a(href='/api/users') User database
